/**
* This has been ripped from 
* http://www.atosorigin.com/General/css/aoScreen.css
*/

.DisplayNone
{
    display: none;
}
#page
{
    width: 930px;
}
a, a:link, a:visited, a:hover, a:active
{
    color: #333333;
    text-decoration:underline;
}

SELECT
{
    font-size: 100%;
    height:20px;
}
#mainColumn TD, #mainColumn TH
{
    font-size: 1em;
}
P
{
    margin-top: 0px;
    margin-bottom: 15px;
}

#leftColumn
{
    float: left;
    width: 150px;
    margin: 0 22 0 0px;
    position:relative;
    /* IME 10-08-09 top:-2px;*/
    top:-3px;
}
#mainColumn
{
    float: left;
    /*IME 20-07-09 width: 577px*/
    width: 575px;
    margin: 0 0 0 0px;
    height: auto;
}
#rightColumn
{
    float: left;
    width: 160px;
    margin: 0 0 0 20px;
    height: auto;
    overflow: hidden;
    /* IME 10-08-09 top:-2px;*/
    position:relative;
    top:-3px;
}
#ServLand #mainColumn, #Sitemap #mainColumn
{
    float: left;
    margin: 0px;
    width: 758px;
    height: auto;
}
#RegForm #mainColumn
{
    float: left;
    width: 570px;
    margin: 0 0 0 0px;
    height: auto;
}
#LeftNav
{
    margin: 0px;
}
#MainColumn a, #MainColumn a:link, #MainColumn a:visited, #MainColumn a:hover, #MainColumn a:active, #MainColumn2 a:link, #MainColumn2 a:visited, #MainColumn2 a:hover, #MainColumn2 a:active
{
    color: #544f93;
}
#MainColumn IMG a, #MainColumn IMG a:link, #MainColumn IMG a:visited, #MainColumn IMG a:hover, #MainColumn IMG a:active, #MainColumn2 IMG a:link, #MainColumn2 IMG a:visited, #MainColumn2 IMG a:hover, #MainColumn2 IMG a:active
{
    border: solid 0px white;
}
#content
{
    padding: 0 0 0 0px;
    margin: 5 0 0 0px;
    width: 100%;
    height: auto;
    overflow: visible;
    background-color: white;
}
UL
{
    list-style-image: url(bullet.gif);
}
#content H1
{
    font-size: 130%;
    font-weight: bold;
    color: #d21241;
    margin: 0.4em 0px 0.2em 0px;   
}
#content H3, #content H4, #content H5, #content H6
{
    font-size: 1.09em;
    margin: 0.2em 0px 0.1em 0px;
    color: #544f93;
}
/* IME 03-08-09 */
#content H2
{
    font-size: 1.09em;
    margin: 0.2em 0px 0.1em 0px;
    color: #666666;
}
#content TD, #content TH
{
    font-size: 70%;
}

#LinkArea1, #LinkArea2, #LinkArea3, #LinkArea4, #LinkArea5
{
    margin-bottom: 25px;
}
#LinkArea1, #LinkArea2
{
    margin-left: 5px;
}
#LinkArea1 H1, #LinkArea2 H1, #LinkArea3 H1, #LinkArea4 H1, #LinkArea5 H1, #CaseStud H1
{
    font-size: 1.27em;
    font-weight: bold;
    color: #544F93;
    margin: 0.2em 0px 0.1em -1px;
}
#LinkArea1 H2, #LinkArea2 H2, #LinkArea3 H2, #LinkArea4 H2, #LinkArea5 H2, #CaseStud H2
{
    font-size: 1.1em;
    font-weight: bold;
    color: #666666;
}
#LinkArea1 IMG, #LinkArea2 IMG, #LinkArea3 IMG, #LinkArea4 IMG, #LinkArea5 IMG
{
    margin: 5 0 5 0px;
}
#PartnersArea
{
    margin-top: 30px;
    padding: 0 5 0 5px;
    background-color: #EEEEEE;
}
#PartnersArea H1, #PartnersArea H2, #PartnersArea H3, #PartnersArea H4, #PartnersArea H5, #PartnersArea H6
{
    color: #333333;
    font-weight: bold;
    font-size: 1.0em;
    padding-top: 5px;
}
#LinkArea1 UL, #LinkArea2 UL, #LinkArea3 UL, #LinkArea4 UL, #LinkArea5 UL, #PartnersArea UL, #CaseStud UL
{
    padding: 0 0 0 16px;
    margin: 0px;
    list-style-position: outside;
    list-style-image: url(bullet.gif);
}
#LinkArea1 OL, #LinkArea2 OL, #LinkArea3 OL, #LinkArea4 OL, #LinkArea5 OL, #PartnersArea OL, #CaseStud OL
{
    padding: 0 0 0 22;
    margin: 0px;
    list-style-position: outside;
}
#JobOpeningMap OBJECT
{
    width: 150px;
    height: 108px;
    margin-top: 5px;
    margin-bottom: -20px;
}
#ContentTitle
{
    font-size: 1.63em;
    margin: 0.4em 0px 0.1em 0px;
    /* IME 03-08-09 color: #544f93; */    
    color: #d21241;
    overflow:hidden;
}
#CarIframe #ContentTitle
{
    font-size: 1.63em;
    margin: 0.4em 0px 20px 0px;
    color: #544f93;
}
#DefLand #ContentTitle, #ConsLand #ContentTitle, #ServLand #ContentTitle, .InvLand #ContentTitle
{
    height: 30px;    
    padding:  0 0 0 10px;
    margin: 0 0 0 0px;
    font-size: 1.63em;
    font-weight:bold;
    color: #FFFFFF;
    background-color:#757575;
    line-height: 30px;
}
#DefLand #ContentTitle2, #ConsLand #ContentTitle2, #ServLand #ContentTitle2, .InvLand #ContentTitle2
{
    height: 30px;
    padding: 0 0 0 10px;
    margin: 0 0 0 0px;
    font-size: 1.63em;
    font-weight:bold;
    color: #FFFFFF;
    background-color:#757575;
    line-height: 2.1em;
}
#CarLand #ContentTitle
{
    height: 30px;
    padding: 0 0 0 9px;
    margin: 0 0 0 0px;
    font-size: 1.63em;
    font-weight:bold;
    color: #FFFFFF;
    background-color:#757575;
    border-style:solid;
	border-width:1px;
	border-color:#757575;
	border-bottom-style:none;
	line-height:30px;
}
#ContentTitleSub
{
    font-size: 1.09em;
    font-weight: bold;
    color: #666666;
    margin: 0.8em 0px 0em 0px;
}
#DefLand #ContentTitleSub, #ConsLand #ContentTitleSub, #ServLand #ContentTitleSub, .InvLand #ContentTitleSub
{
    height: 13px;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    background-color: #B5CDDF;
    border-bottom: solid 1px white;
}
#DefLand #ContentTitleSub2, #ConsLand #ContentTitleSub2, #ServLand #ContentTitleSub2, .InvLand #ContentTitleSub2
{
    height: 13px;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    background-color: #ff0000;
    background-color: #d11242;
    background-color: #ba0838;
    background-color: #cc0000;
    border-bottom: solid 1px white;
}
#LandingLeader
{
	border-style:solid;
	border-width:1px;
	border-color:#757575;
    margin: 0 0 0 0px;
    padding: 0px;
    width: 100%;
    overflow:hidden;
    height: auto; 
}
/* IME 21-07-09 */
#imgPhcMainTop, #siPhcMainImage
{
	display:block;
}
#ContentLeader, #ContentLeader2
{
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    padding: 0px;
}
#ContentLeader IMG, #ContentLeader IMG a, #ContentLeader IMG a:link, #ContentLeader IMG a:visited, #ContentLeader IMG a:hover, #ContentLeader IMG a:active {
 	border: solid #FFFFFF 0px;
}
#CarIframe #ContentLeader
{
    margin-top: 0px;
}
#ContentLeader IFRAME
{
    width: 590px;
    margin-top: 0px;
}
#InvPrInfo #mainColumn IFRAME
{
    width: 575px;
    margin-top: 1px;
    height: 1200px;
}
#CaseStud
{
    padding: 5 10 10 10px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}
#PressTitleSub
{
    margin-top: 10px;
    font-size: 1.17em;
    font-weight: bold;
    color: #666666;
}
#PressContent
{
    margin-top: 20px;
}
/*#PressContent #ContentLeader {
 float: left; border: solid 1px blue;
}*/
/*#PressPhoto IMG
{
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 2px;
    border: solid 0px red;
}*/
#siMainImage IMG, #siPressPhoto IMG {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 2px;
    border: solid 0px red;
}
#PressLocationDate
{
    float: left;
    margin: 0px;
    font-weight: bold;
}
#PressContentLeader
{
    margin: 7 0 0 0px;
    padding: 0px;
}
#SearchRes #mainColumn
{
    float: left;
    margin: 0px;
    width: 756px;
    height: auto;
}
#SearchRes #mainColumn H1
{
    /* IME 12-08-09 font-size: 1.63em; color: #666666;*/
    font-size: 130%;
    margin: 0px 0px 0.1em 0px;
    color: #d21241;
}



#SearchRes #mainColumn #pnlMainResults
{
    float: left;
    height: auto;
    width: 100%;
    border: solid 1px #EAEAEA;
    padding: 15px 15px 15px 15px;

}
#SearchRes #mainColumn #pnlSubResults
{
    float: left;
    height: auto;
    width: 100%;
    border: solid 1px #EAEAEA;
    background-color: #F6F6F6;
    margin-top: 50px;
    padding: 15px 15px 15px 15px;
}
#SearchRes #ContentLeader #SearchResList LI, #Filtering #ContentLeader2 LI
{
    margin: 0 0 25 -40px;
    padding: 0px;
    list-style-image: none;
    list-style-type: none;
}
#SearchRes #ContentLeader .SearchResTitle, #Filtering #ContentLeader2 .SearchResTitle
{
    color: #666666;
    font-size: 1.27em;
    font-weight: bold;
    margin-bottom: 5px;
}
.SearchResTitle2
{
    color: #666666;
    font-size: 1.27em;
    font-weight: bold;
    margin-bottom: 5px;
}
#SearchRes #ContentLeader .SearchResDesc, #Filtering #ContentLeader2 .SearchResDesc
{
    color: #333333;
}
#SearchRes #ContentLeader .SearchResLocationDate, #Filtering #ContentLeader2 .SearchResLocationDate
{
    font-weight: bold;
}
#SearchRes #ContentLeader .SearchResURL, #Filtering2 .SearchResURL
{
    color: #000000;
    font-weight: bold;
}
#SearchRes #ContentLeader .SearchResURL A, #SearchRes #ContentLeader .SearchResURL A:link, #SearchRes #ContentLeader .SearchResURL A:visited, #SearchRes #ContentLeader .SearchResURL A:hover, #SearchRes #ContentLeader .SearchResURL A:active, #Filtering .SearchResURL A, #Filtering .SearchResURL A:link, #Filtering .SearchResURL A:visited, #Filtering .SearchResURL A:hover, #Filtering .SearchResURL A:active
{
    color: 544F93;
    font-weight: normal;
}
#SearchRes #ContentLeader .SearchResMod
{
    color: #999999;
}
#SearchRes #ContentLeader .SearchResLang
{
    color: #000000;
}
#SearchRes #ContentLeader .SearchResNext, #Filtering #ContentLeader2 .SearchResNext
{
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    margin-left: 0px;
}
.SearchResNext2
{
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}
.seurl2
{
	color:Black;
    font-weight: bold;
    text-decoration: none;
}
.seurl3 a
{
      text-decoration: none;
}
.pager
{
	color:Black;
	text-decoration: none;
}

.seurl2 b
{
	color:Black;
	text-decoration: none;
}
#SearchRes #ContentLeader .SearchResNext UL, #Filtering #ContentLeader2 .SearchResNext UL
{
    margin-left: -6px;
    padding: 0px;
}
#SearchRes #ContentLeader .SearchResNext LI, #Filtering #ContentLeader2 .SearchResNext LI
{
    margin-left: 6px;
    display: inline;
    list-style-type: none;
}
#SearchRes IMG#imgSubmit
{
    cursor: pointer;
    cursor: hand;
}

#ContentLeaderTwoColumns
{
    margin: 25 0 10 0px;
    background-color: #F4F6F2;
    width: 575px;
    height: auto;
    overflow: hidden;
}
#ContentLeaderLeft
{
    width: 290px;
    height: auto;
    overflow: visible;
    padding: 10 0 0 0px;
    margin: 0 0 0 0px;
    background-color: #F4F6F2;
    background: url(LandingLeft.gif);
    float: left;
}
#ContentLeaderRight
{
    width: 285px;
    height: auto;
    overflow: hidden;
    padding: 10 0 0 0px;
    margin: 0 0 0 0px;
    float: right;
}
#ContentLeaderTwoColumns .ContentLeaderImage
{
    float: left;
}
#ContentLeaderTwoColumns .ContentLeaderImage IMG
{
    margin: 0 7 10 10px;
}
#ContentLeaderTwoColumns .ContentLeaderTxt
{
    float: left;
    width: 163px;
}
#InvestorsLeaderTwoColumns
{
    margin: 25 0 0 0px;
    height: 100%;
}
#InvestorsLeaderTwoColumns P
{
    margin-top: 0px;
}
#InvestorsLeaderLeft
{
    width: 280px;
    padding: 0 0 0 1px;
    margin: 0 0 0 0px;
    float: left;
}
#FinPRTitle
{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.27em;
}
#FinPRTxt OL
{
    padding: 0px;
    margin: 0 0 20 0px;
}
#FinPRTxt LI
{
    display: inline;
    padding-left: 0px;
}
#FinPRTxt H1
{
    color: #333333;
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 0px;
}
#FinPRTxt H2
{
    color: #333333;
    font-size: 1.0em;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
#FinPRTxt H3
{
    color: #999999;
    font-size: 1.0em;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
#FinPRTxt H4, #FinPRTxt H4 a, #FinPRTxt H4 a:link, #FinPRTxt H4 a:visited, #FinPRTxt H4 a:hover, #FinPRTxt H4 a:active
{
    color: #544F93;
    font-size: 1.0em;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
#InvestorsLeaderRight
{
    width: 280px;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    float: right;
}
#InvestorsLeaderRight #StockTicker
{
    background-color: #F4F6F2;
    width: 280px;
    height: 29px;
    color: #544F93;
    font-size: 1.27em;
    font-weight: bold;
    padding: 0 0 0 0px;
    line-height: 2.0em;
    text-indent: 10px;
}
#InvestorsLeaderRight #StockTickerSub
{
    color: #999999;
}
#InvestorsLeaderRight IFRAME
{
    width: 280px;
    height: 15px;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}
#InvestorsLeaderRight .TickerBox
{
    border: solid 2px #F4F6F2;
}
#InvestorsLeaderRight .TickerContTitle
{
    height: 2em;
}
#InvestorsLeaderRight .TickerCont
{
    height: 2em;
}
#InvestorsLeaderRight .TickerCont1
{
    margin-left: 0.4em;
    margin-top: 0.3em;
    width: 97px;
    float: left;
}
#InvestorsLeaderRight .TickerCont2
{
    margin-top: 0.3em;
    float: left;
    width: 70px;
    text-align: right;
}
#FinCalTitle
{
    font-size: 1.27em;
    font-weight: bold;
    color: #544F93;
    margin-top: 30px;
    width: 280px;
    background-color: #D9EBED;
    padding: 0px;
    line-height: 2.0em;
    text-indent: 10px;
    border-bottom: solid 1px white;
}
#FinCalTxt
{
    color: #333333;
    background-color: E4F1F2;
    width: 100%;
    height: auto;
    text-indent: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: solid 1px white;
}
#FinCalTxt P
{
    margin-bottom: 15px;
}
#FinCalViewall
{
    color: #544F93;
    background-color: #D9EBED;
    line-height: 2.0em;
    text-indent: 10px;
}
.InvLand #InvestorsChLang, #DefLand #InvestorsChLang
{
	color:White;
    position: absolute;
    margin-top: -29px;
    left: 507px;
    width: 240px;
    height: 30px;
    text-align: right;
    /*IME 20-07-09  font-size:70%;*/
    /*font-size:70%;*/
}
/*.InvLand #InvestorsChLang UL, #DefLand #InvestorsChLang UL {
 padding: 0;
 margin: 0px;
}
.InvLand #InvestorsChLang LI, #DefLand #InvestorsChLang LI {
 display:inline;
 padding-right: 5px;
 font-weight: bold;
}*/
.InvLand #Language SELECT, #DefLand #Language SELECT
{
    font-size: 100%;
    padding: 0px;
    width: 80px;
}
.InvLand #FinPRViewAll, .InvLand #FinPRViewAll A, .InvLand #FinPRViewAll A:link, .InvLand #FinPRViewAll A:visited, .InvLand #FinPRViewAll A:hover, .InvLand #FinPRViewAll A:active
{
    color: #544F93;
    text-decoration: underline;
}
#ddDisplayLanguage
{
    font-weight: bold;
    margin-right: 5px;
    /* IME 20-07-09 */
    font-size:100%;
}

#RegForm #ContentTitle
{
    margin-top: 20px;
}
#RegForm #FormFields
{
    height: auto;
    width: 75%;
    margin-top: 30px;
    overflow: auto;
}
#FormFields .FormWide
{
    padding-right: 0px;
    padding-left: 0px;
    height: 2.8em;
    border: 1px dotted white;
    margin: 0px;
}
#FormFields .FormWide UL
{
    float: left;
    height: auto;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1.5em;
    margin: 0 0 0 0px;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}
#FormFields .FormWide LI
{
    padding-right: 2px;
    padding-left: 0px;
    display: inline;
    height: auto;
    list-style-type: none;
}
#RegForm #FormFirstN
{
    margin-right: 79px;
}
#RegForm #FormLastN
{
    margin-right: 79px;
}
#RegForm #FormEmail
{
    margin-right: 63px;
}
#RegForm #FormPhone
{
    margin-right: 61px;
}
#RegForm #FormMobile
{
    margin-right: 61px;
}
#RegForm #FormCompN
{
    margin-right: 25px;
}
#RegForm #FormCompA
{
    margin-right: 42px;
    vertical-align: top;
}
#RegForm #FormCountry
{
    margin-right: 92px;
}
#RegForm #FormJob
{
    margin-right: 52px;
}
.FormWide INPUT, .FormWide TEXTAREA, .FormWide SELECT
{
    width: 230px;
    font-size: 1.0em;
    font-family: Arial;
}
#RegForm .FormError
{
    background-color: #FF0000;
    color: white;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    width: 367px;
    text-align: center;
    line-height: 0.6em;
    font-weight: bold;
    font-size: 1.1em;
}
#RegForm #FormSubBox
{
    padding: 10px;
    margin-top: 20px;
    background-color: #F6F6F6;
    height: auto;
    overflow: auto;
}
#RegForm #FormSubBoxTitle
{
    font-size: 1.27em;
    font-weight: bold;
    color: #666666;
    margin-bottom: 10px;
}

#RegForm #FormPriv, #RegForm #FormPriv a, #RegForm #FormPriv a:link, #RegForm #FormPriv a:visited #RegForm #FormPriv a:hover, #RegForm #FormPriv a:active
{
    margin-top: 20px;
    color: #777777;
}
.FormCheckB
{
    padding-right: 0px;
    padding-left: 0px;
    height: 1em;
}
.FormCheckWidth
{
    float: left;
    width: 150px;
    height: 25px;
}
.FormCheckWidth INPUT
{
    vertical-align: middle;
    margin-right: 5px;
}
#FormButtons UL
{
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1.5em;
    margin: 0 0 0 0px;
    padding-top: 2.0em;
    padding-bottom: 0.5em;
}
#FormButtons LI
{
    margin-right: 20px;
    padding-right: 2px;
    padding-left: 0px;
    display: inline;
    list-style-type: none;
}
#SearchRes #Formfields
{
    width: 500px;
    height: auto;
    overflow: auto;
    margin-top: 20px;
}
#SearchRes .searchcol1
{
	float: left;
	width: 120px;
	height: 20px;
}
#SearchRes .searchcol2
{
	float: left;
	width: 300px;
	height: auto;
}
#SearchRes .searchcol2 SELECT#ddSearchNumber
{
	width: 50px;
	margin-right: 30px;
}
#SearchRes .searchcol2 SELECT#ddSortBy
{
	width: 147px;
}
#SearchRes .searchcol2 INPUT#cbSummaries
{
	width: 15px;
	margin-right: 10px;
	position: relative;
	top: 2px;
}
#Locations .ChooseLocTxt
{
    margin-top: 20px;
    font-weight: bold;
}
#Locations .ChooseLoc
{
    margin-top: 5px;
}
#Locations .ChooseLoc SELECT
{
    font-size: 100%;
    width: 180px;
}
#Locations IMG#imgLocationsGo
{
    margin-left: 10px;
    position: relative;
    top: 4px;
    cursor: pointer;
    cursor: hand;
}
#Locations #LocationInfo
{
    margin-top: 10px;
    padding: 10 0 0 0px;
}
#Locations #CountryName
{
    font-size: 1.30em;
    font-weight: bold;
    color: #CC0000;
    margin-bottom: 10px;
}
#Filtering #Selector
{
    height: 70px;
    margin: 20 0 0 0px;
    background-color: #F6F6F6;
    padding: 0 0 0 10px;
    width: 575px;
}
#Filtering .SelectorTxt
{
    float: left;
    width: 127px;
    margin-top: 10px;
    text-indent: 1px;
    height: 20px;
}
#Filtering .SelectorChoice
{
    float: left;
    margin: 0px;
    padding: 0 0 0 0px;
}
#Filtering #pnlYearDD
{
    width: 127px;
    height: 30px;
}
#Filtering #pnlYearDD SELECT
{
    width: 110px;
}
#Filtering #pnlSubjectDD
{
    width: 167px;
    height: 30px;
}
#Filtering #pnlSubjectDD SELECT
{
    width: 150px;
}
#Filtering #pnlContentTypeDD
{
    width: 110px;
    height: 30px;
}
#Filtering #pnlContentTypeDD SELECT
{
    width: 110px;
}
#Filtering #pnlIndustryDD
{
    width: 197px;
    height: 30px;
}
#Filtering #pnlIndustryDD SELECT
{
    width: 180px;
}
#Filtering #pnlSolutionDD
{
    width: 197px;
    height: 30px;
}
#Filtering #pnlSolutionDD SELECT
{
    width: 180px;
}

#Filtering .SelectorGo
{
    float: left;
    margin: 30 0 0 0px;
    padding: 0 0 0 0px;
}
#Filtering #SelectedArticlesTxt
{
    font-weight: bold;
    color: #544F90;
    font-size: 1.2em;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom:  solid 1px #cccccc;
}

#Filtering #fclocalouter {
    width: 574px;
    height: auto;
    overflow: hidden;
    border: solid 1px #EAEAEA;
}
#Filtering #fclocalInner, #Filtering #fcglobalInner {
    width: 554px;
    height: auto;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
}
#Filtering #fcglobalouter {
    width: 574px;
    background-color: #F6F6F6;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    border: solid 1px #EAEAEA;
}
#ContactUs
{
    width: 160px;
    padding-left: 0px;
    margin-top: -6px;
    margin-bottom: 15px;
}
.TopCorners
{
    background-image: url(images/top2.gif);
    width: 185px;
    height: 16px;
    position: relative;
    bottom: -6px;
}
#ContactTitle
{
    font-size: 1.27em;
    color: #d21241;
    font-weight: bold;
    padding-left: 11px;
}
#ContactName
{
    font-weight: bold;
    padding-left: 12px;
}
#JobFunction, #ContactTel, #ContactEmail
{
    padding-left: 12px;
}
#MoreContacts
{
    padding-left: 12px;
}
#ContactEmail IMG
{
    position: relative;
    bottom: -1px;
}
.BottomCorners
{
    background: url(images/bottom2.gif) no-repeat 0 100%;
    width: 185px;
    height: 16px;
    position: relative;
    top: -6px;
}
.ContactMiddle
{
    background: #F6F6F6;
    border-left: solid 1px #EAEAEA;
    border-right: solid 1px #EAEAEA;
	padding: 5px 11px 0px 11px
}

.ContactMiddle p {
margin-bottom:0px;
margin-top:0;
}

#ShowcaseImg
{
    margin-top: 8px;
}
#ShowcaseTitle
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.27em;
    color: #544f93;
    font-weight: bold;
}
#ShowcaseTxt
{
    color: #777777;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ShowcaseTxt P
{
    color: #777777;
}
#ContentTypes
{
    padding-left: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
}
#ContentTypesTopcorners
{
    background: url(ContentStyles_top.gif) no-repeat left top;
    margin-left: -5px;
    height: 10px;
}
#ContentTypesBottomcorners
{
    background: url(ContentStyles_bottom.gif) no-repeat bottom left;
    margin-left: -5px;
    height: 10px;
}
#ContentTypesTitle
{
    margin-top: 5px;
    color: #544f93;
    font-weight: bold;
    font-size: 1.27em;
    margin-left: -1px;
}
#ContentTypesBox H1
{
    color: #333333;
    font-weight: bold;
    font-size: 1.0em;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#ContentTypesBox H2
{
    color: #333333;
    font-weight: normal;
    font-size: 1.0em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#ContentTypesBox H3
{
    color: #000000;
    margin-top: 20px;
    line-height: 2px;
    background-color: Black;
    width: 97%;
}
#ContentTypesViewall
{
    margin-top: 20px;
    font-weight: bold;
}
#ContentTypesViewall a, #ContentTypesViewall a:link, #ContentTypesViewall a:visited, #ContentTypesViewall a:hover, #ContentTypesViewall a:active
{
    color: #666666;
}
#ConsLand #RightImage1 IMG
{
    margin: 15 5 0 5px;
    width: 150px;
    height: 96px;
}
#ConsLand #RightImage2 IMG, #ConsLand #RightImage3 IMG
{
    margin: 3 5 0 5px;
    width: 150px;
    height: 96px;
}
#rightColumn IFRAME
{
    width: 160px;
    margin-top: 0px;
}

/* --// Sitemap --// */

#Sitemap #SitemapCol1, #Sitemap #SitemapCol2, #Sitemap #SitemapCol3
{
    float: left;
    width: 270px;
    height: auto;
    margin-left: -20px;
    overflow: visible;
}
#Sitemap #ContentLeader UL
{
    margin-top: 0px;
    color: Red;
}
#Sitemap #ContentLeader LI
{
    list-style-image: none;
    list-style-type: none;
    margin-left: -20px;
    margin-top: 0px;
}
#Sitemap #ContentLeader LI.level1, #Sitemap LI.level1 A:link, #Sitemap LI.level1 A:visited, #Sitemap LI.level1 A:hover, #Sitemap LI.level1 A:active
{
    margin-top: 20px;
    font-size: 1.28em;
    font-weight: normal;
    line-height: 2em;
    color: #333333;
}
#Sitemap #ContentLeader LI.level2, #Sitemap LI.level2 A:link, #Sitemap LI.level2 A:visited, #Sitemap LI.level2 A:hover, #Sitemap LI.level2 A:active
{
    font-size: 1.03em;
    margin-left: -10px;
    color: #666666;
    font-weight: bold;
    line-height: 2em;
}
#Sitemap #ContentLeader LI.level3, #Sitemap LI.level3 A:link, #Sitemap LI.level3 A:visited, #Sitemap LI.level3 A:hover, #Sitemap LI.level3 A:active
{
    margin-left: -5px;
    color: #666666;
}
#Sitemap #ContentLeader LI.level4, #Sitemap LI.level4 A:link, #Sitemap LI.level4 A:visited, #Sitemap LI.level4 A:hover, #Sitemap LI.level4 A:active
{
    margin-left: 0px;
    color: #777777;
}
#Sitemap #ContentLeader LI.level5, #Sitemap LI.level5 A:link, #Sitemap LI.level5 A:visited, #Sitemap LI.level5 A:hover, #Sitemap LI.level5 A:active
{
    margin-left: 5px;
    color: #999999;
}
#Sitemap #ContentLeader LI A:link, #Sitemap #ContentLeader LI A:visited, #Sitemap #ContentLeader LI A:active
{
    text-decoration: none;
}
#Sitemap #ContentLeader LI A:hover
{
    color: #FFA928;
}


/* --// Tab Control --// */

#ServiceIntro
{
    margin: 20 0 10 0px;
}
.ServicesBorder1
{
    margin: 0 0 0 0px;
    border-left: solid 1px #B5CDDF;
    border-right: solid 1px #B5CDDF;
    border-bottom: solid 15px #B5CDDF;
    padding: 5 10 5 10px;
    z-index: 0;
    overflow: hidden;
}
/*.ServicesBorder1 table, .ServicesBorder1 tbody {
 overflow: visible;
}*/
.ServicesBorder2
{
    display: none;
}
#TabsLeft
{
    position: relative;
    top: 41px;
    left: 32px;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    height: auto;
    width:110px;
}
#TabsRight
{
    position: relative;
    top: 23px;
    left: 182px;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    height: auto;
    width:110px;
}
.tableftcolor
{
    font-size: 1.27em;
    font-weight: bold;
    color: #544f93;
}
.tabrightcolor
{
    font-size: 1.27em;
    font-weight: bold;
    color: #999999;
}
#TabsHeader
{
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    cursor: pointer;
    cursor: hand;
}
#TabsFooter
{
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}
#tabimageleft, #tabimageright
{
    cursor: pointer;
    cursor: hand;
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
}

/* --// header --// */

#NavFrame
{
    position: absolute;
    top: 125px;
    width: 930px;
    height: 300px;
    display: block;
    z-index: 1000;
    filter: Alpha(Opacity=40);
}
#header
{
    width: 100%;
    height: auto;
    overflow: hidden;
    height:203px;
}
/* IME 28-07-09 */
.GlobalHome #header
{
    width: 100%;
    height: auto;
    overflow: hidden;
    height:286px;
}
#header .siteWide
{
    float:left;
    width:700px;
    height:20px;
    position:relative;
    top:30px;
}
#MainHeader1_hdrRow1
{
    float: left;
    height: 32px;
    text-align: right;
}
#hdrRow2
{
    float: right;
    height: 31px;
    margin-top: 1px;
    text-align: right;
}
/*
.GlobalHome #header .NavBar
{
    float: right;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;    
    width: 930px;
    height: 185px;
}*/
.Flashbanner /*, .NavBarImg, .NavBarTxt*/
{
    display: none;
}
.GlobalHome #header .NavBar .Flashbanner
{
    display: block;
    vertical-align: top;
    height:112px;
    overflow:hidden;
}
#TopBanner
{
	height:80px;
}
/*.GlobalHome #header .NavBar .NavBarTxt H1*/
.GlobalHome #header .NavBar H1
{
    font-size: 21px;
    margin-bottom: 0.5em;
    margin-top: 0px;
    font-weight: normal;
}
#header .siteWide, #header .siteWide A, #header .siteWide A:link, #header .siteWide A:visited, #header .siteWide A:hover, #header .siteWide A:active
{
	font-family:Arial;
    color: #6c6c6c;
    font-size: 1.0em;
    text-decoration:none;
}
.hdrSeparator 
{
    height: 12px;
}
.hdrSeparator2 
{
    border-left: solid 1px #777777;
    height: 12px;
}
#hdrLogin, #hdrProfile 
{
    border-right: solid 1px #777777;
    float:left;
    padding-top:3px;
    padding-right:6px;
    padding-left:6px;
    position:relative;
    height:20px;
}
#hdrAccessibility, #hdrDebug
{
    border-left: solid 1px #777777;	
    border-right: solid 1px #777777;
    margin-left: 6px;
    padding-top:3px;    
    padding-left: 6px;
    padding-right:6px;
    float:left;
    position:relative;
    height:20px; 
}
#hdrContactus
{
    border-right: solid 1px #777777;		
    float:left;
    margin-right:6px;
    padding-top:3px;
    padding-right:6px;
    padding-left:6px;
    position:relative;
    height:20px; 
}
#hdrGloballink
{
	border-right: solid 1px #777777;
	text-decoration:none;
	padding-right:6px;
	padding-top:3px;
	float:left;
	position:relative;
	height:20px; 
	padding-left:30px;
	margin-right:6px;
	vertical-align:bottom;
}
#hdrGloballinkCountry
{
	border-right: solid 1px #777777;
	padding-right:6px;
	float:left;
	height:20px; 
	padding-top:3px;	
	margin-right:6px;
}
#hdrGobut1
{
    margin-left: 4px;
    position: relative;
}
.InvLand #InvestorsChLang #hdrGobut1, #DefLand #InvestorsChLang #hdrGobut1
{
    top: 4px;
}
#hdrCountry SELECT
{
    width: 144px;
    float:left;    
    color: #6c6c6c;
    font-size: 100%;
    border:solid 1px #819db3;    
    overflow:visible;
}
#hdrAdvsearchtxt
{
    margin-left: 0.5em;
    position: relative;
    top: -2px;
}

.hdrSearchInput, .hdrSearchOutput
{
	float:left;
    font-size: 100%;
    width: 114px;
    position:relative;
    height:20px;
	padding-top:2px;
	margin-right:5px;
    color: #6c6c6c;
    border:solid 1px #819db3;
}

#BreadCrumbSpace
{
    display: block;
    float: left;
    width: 925px;
    height: 30px;
    margin-bottom: 5px;
    border: solid 0px black;
}
.GlobalHome #BreadCrumbSpace
{
    display: none;
}
#breadCrumbs
{
    float: left;
    height: auto;
    overflow: hidden;
    margin: 3px 0px 0px 172px;
    width: 575px;
    color: #544f93;
    position: absolute;
    /* IME 13-07-09 */
    top: 173px;
    border: solid 0px green;
    /* IME 13-08-09 */
    /*z-index:-1;*/
}
#breadCrumbs .yourhere
{
    color: #666666;
    float: left;
    height: 50px;
    margin-right: 5px;
    border: solid 0px blue;
}
#breadCrumbs .bcpath
{
    color: #666666;
    height: auto;
    overflow: hidden;
    border: solid 0px red;
}
#breadCrumbs A, #breadCrumbs A:link, #breadCrumbs A:visited, #breadCrumbs A:hover, #breadCrumbs A:active
{
    color: #777777;
}
#aologo
{
    top: 0px;
    float:right;
    width:115px;
}
/* This class is used to set the top margin of atosorigin olympics logo */
.aologo
{
	margin-top:11px;
	/* IME 31-07-09 */
	float:right;
}
.aologoolympics
{
	margin-top:8px;
}

/* --// GlobalHome --// */
.GlobalHome P
{
    margin: 0 0 0 0px;
}
.GlobalHome #content
{
    list-style-image: none;
    padding-left: 30px;
    height: auto;
    overflow: hidden;
}
.GlobalHome #content1
{
    list-style-image: none;
    border: solid 1px red;
    height: auto;
    overflow: visible;
    margin: 10 0 0 0px;
    padding: 0px;
    width: 100%;
}
.GlobalHome #leftColumn
{
    float: left;
    width: 237px;
    margin: 6 0 0 0px;
}
.GlobalHome #BreakingNews
{
    font-size: 1.63em;
    color: #544F93;
    margin: 10 0 10 -1px;
}
.GlobalHome #BreakingNews #newsrss
{
    border-top: 1px solid #d2d1d1;
    margin-top: 10px;
    border-bottom: 1px solid #d2d1d1;
}
.GlobalHome #BreakingNews img
{
    margin: 8px 0px 8px 1px
}
.GlobalHome #BreakingNewsItems
{
    margin: 13 0 0 0px;
}
.GlobalHome #BreakingNewsItems UL
{
    list-style-image: none;
    display: inline;
    margin: 0 0 0 0px;
}
.GlobalHome #BreakingNewsItems LI
{
    list-style-type: none;
    margin: 0 0 22 0px;
    list-style-position: outside;
}
.GlobalHome #BreakingNewsItems H1
{
    font-size: 1.09em;
    font-weight: bold;
    color: #666666;
    margin: 0 0 5 0px;
}
.GlobalHome #BreakingNewsItems H2
{
    font-size: 1.0em;
    font-weight: normal;
    color: #333333;
    margin: 0 0 0 0px;
}
.GlobalHome #BreakingNewsItems H3, .GlobalHome #BreakingNewsItems H3 A, .GlobalHome #BreakingNewsItems H3 A:link, .GlobalHome #BreakingNewsItems H3 A:visited, .GlobalHome #BreakingNewsItems H3 A:hover, .GlobalHome #BreakingNewsItems H3 A:active
{
    font-size: 1.0em;
    font-weight: normal;
    color: #999999;
    text-decoration: underline;
    margin: 0 0 0 0px;
}
.GlobalHome #BreakingNewsViewAll, .GlobalHome #BreakingNewsViewAll A, .GlobalHome #BreakingNewsViewAll A:link, .GlobalHome #BreakingNewsViewAll A:visited, .GlobalHome #BreakingNewsViewAll A:hover, .GlobalHome #BreakingNewsViewAll A:active
{
    color: #544F93;
    text-decoration: underline;
}
.GlobalHome #breadCrumbs
{
    display: none;
}
#DefFullWidth #breadCrumbs
{
    display: none;
}
.GlobalHome #MainColumn
{
    float: left;
    margin: 1 0 0 15px;
    width: 434px;
}
.GlobalHome #MainColumnC
{
    float: left;
    margin: 6 0 0 15px;
    width: 434px;
}
.GlobalHome .MainColumnTop
{
    margin: 0 0 2 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #E4F1F2;
}
.GlobalHome .CountryColorBox
{
    background: #D8EAF9 url(CountryBoxBottom.gif) no-repeat bottom;
    height: auto;
    overflow: hidden;
    margin-bottom: 2px;
}
.GlobalHome .Countryboxwide
{
    background: url(CountryBoxTop.gif) no-repeat top;
    position: relative;
    left: 0px;
    width: 100%;
    height: 10px;
}
.GlobalHome .CountryColorBox1Right IMG
{
    position: relative;
    left: 0px;
    float: right;
}
.GlobalHome .CountryColorBox1Right #strPlaceHolderBottomRight
{
    position: static;
    left: auto;
    float: left;
    vertical-align: top;
    line-height: 15px;
}
.GlobalHome .CountryColorBox1Right #strPlaceHolderBottomRight IMG
{
    float: none;
}
.GlobalHome .CountryboxwideBottom
{
    background: url(CountryBoxBottom.gif) no-repeat bottom;
    height: 100%;
    overflow: visible;
    padding-bottom: 5px;
}
.GlobalHome .CountryColorBox1
{
    background: url(CountryBox1.gif);
    height: auto;
    overflow: hidden;
    margin-bottom: 2px;
}
.GlobalHome .CountryColorBox1Left
{
    float: left;
    position: relative;
    left: 10px;
    width: 192px;
}
.GlobalHome .CountryColorBox1Right
{
    float: right;
    width: 202px;
}
.GlobalHome .CountryMainColumnTopLeft
{
    float: left;
    width: 309px;
    padding-bottom: 10px;
    position: relative;
    left: 10px;
}
.GlobalHome .CountryMainColumnTopRight
{
    float: left;
    position: relative;
    left: 10px;
    top: 13px;
    width: 95px;
    margin-left: 10px;
}
.GlobalHome .CountryMainColumnTopRight IMG
{
    margin-bottom: 20px;
}
.GlobalHome .CountryMainColumnTopLeft SELECT,.GlobalHome #strPlaceHolderBottomRight SELECT
{
    width: 150px;
    /* ??? margin: 0 10 3 0px; */
    margin: 0 1 3 0px;
    
}
.GlobalHome #strPlaceHolderBottomRight, .GlobalHome #strPlaceholderControl1
{
    position: static;
    
}
.GlobalHome .MainColumnContent
{
	padding: 0 25 10 10;
    height: auto;
}
.GlobalHome .MainColumnContent2
{
    padding: 0 25 10 10;
    margin: -10 0 0 0;
    height: auto;
}
.GlobalHome .MainColumnBottom
{
    margin: 0 0 2 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #E4F1F2;
}
/*.GlobalHome .MainColumnBottomImg {
 float: right;
}*/
.GlobalHome #MainColumn H1, .GlobalHome #MainColumnC H1
{
    color: #d21241;
    font-size: 130%;
    font-weight: Bold;
    margin: 0 0 5 -1px;
    padding: 10 0 0 0px;
}
.GlobalHome #MainColumn H2, .GlobalHome #MainColumnC H2
{
    color: #333333;
    font-size: 1.0em;
    font-weight: bold;
    margin: 5 0 15 0px;
}
.GlobalHome .MainColumnBottom H1
{
    padding: 15 0 0 0px;
}
.GlobalHome .MainColumnLeft
{
    float: left;
    width: 227px;
    background: url(bluewhite.gif);
    height: auto;
    overflow: hidden;
    padding: 0 0 0 0px;
}
.GlobalHome .MainColumnRight
{
    float: right;
    width: 207px;
    height: auto;
    overflow: hidden;
    background-color: #E4F1F2;
}
.GlobalHome .MainColumnRight SELECT
{
    width: 150px;
    height: 20px;
    margin: 0 1 3 0px;
}
.GlobalHome .MainColumnRight #strPhcPanelRightTop, .GlobalHome #StrPlaceholderControl1
{	
	line-height: 15px;
	height: 15px;
    vertical-align: top;
    /* IME * 22-07-09*/
    width:187px;
}
.GlobalHome #CountryDD, .GlobalHome #CountryDD2
{
	/*width:148px;*/
    vertical-align: top;
}
.GlobalHome .MainColumnRight #SelectIndustryGo, .GlobalHome .MainColumnRight #SelectIndustryGo2, .GlobalHome .MainColumnRight #SelectIndustryGo3, #SelectIndustryGo, #SelectIndustryGo2
{
    cursor: pointer;
    cursor: hand;
    margin: 0px;
    padding: 0px;
    width:27px;
    height:20px;
}
.GlobalHome .MainColumnBottomCorners
{
    background: url(MainColumnBottomCorners.gif);
    width: 100%;
    height: 5px;
    line-height: 5px;
    position: relative;
    bottom: 7px;
}
.GlobalHome .MainColumnTopCorners
{
    background: url(MainColumnTopCorners.gif);
    width: 100%;
    height: 5px;
    line-height: 5px;
    position: relative;
    top: 5px;
    overflow: hidden;
}

/* RCA 20090529 : StringPlaceholder  UK:C1578083
RPL GlobalHome .MainColumnBottom IMG
*/
.GlobalHome .MainColumnLeft IMG
{
    position: relative;
    /*float: right;*/
}
.GlobalHome #RightColumn
{
    float: left;
    margin-left: 15px; /*padding-top: 10px;*/
    margin-top: 16px;
    width: 187px;
    height: auto;
    overflow: hidden;
}
.GlobalHome .LinkAreaRight
{
    color: #777777;
    margin: 0 0 30 0px;
}
.LinkAreaRight IMG
{
    margin-bottom: 5px;
}
.GlobalHome #rightColumn .LinkAreaRight H1
{
    color: #544F93;
    font-size: 1.63em;
    font-weight: normal;
    margin: 0 0 5 0px;
}
.GlobalHome #rightColumn .LinkAreaRight H2
{
    color: #666666;
    font-size: 1.09em;
    font-weight: bold;
    margin: 0 0 5 0px;
}
.GlobalHome #rightColumn .LinkAreaRight A, .GlobalHome #rightColumn .LinkAreaRight A:link, .GlobalHome #rightColumn .LinkAreaRight A:visited, .GlobalHome #rightColumn .LinkAreaRight A:hover, .GlobalHome #rightColumn .LinkAreaRight A:active
{
    color: 333333;
    text-decoration: underline;
}
.GlobalHome .bg
{
    list-style-image: none;
    background-color: #EEEEEE;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 20 0 0 0px;
    padding: 0 0 0 0px;
    font-size:1em;
}
.GlobalHome #Q34
{
    float: left;
    width: 270px;
    height: auto;
    border-left: solid 2px;
    border-color: #FFFFFF;
    background-color: #EEEEEE;
    padding: 0 0 10 0px;
}
.GlobalHome #Q12
{
    float: left;
    width: 656px;
    height: auto;
    border-left: solid 2px;
    border-color: #FFFFFF;
    background-color: #EEEEEE;
    padding: 0 0 10 0px;
}
.GlobalHome .Q14Txt
{
    margin: 0 0 1 0px;
    padding: 6 0 4 15px;
    color: #666666;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: solid 2px;
    border-color: #FFFFFF;
    background-color: #EEEEEE;
}
.GlobalHome .bg .Worldmapbottom
{
    margin: 0 0 0 0px;
    padding: 6 0 0 15px;
    color: #666666;
    font-weight: normal;
    height: auto;
    overflow: visible;
    background-color: #EEEEEE; border: 0px blue solid
}
#CountrySolutions1, #CountrySolutions2, #CountrySolutions3, #CountrySolutions4, #Solutions1, #Solutions2, #Solutions3, #Solutions4
{
    font-size: 1.0em;
    color: #666666;
}
.GlobalHome .WorldmapLeft
{
    font-size: 1.1em;
    float: left;
    width: 110px;
    height: 80px;
}
.GlobalHome .WorldmapRight
{
    float: right;
    width: 120px;
    margin-right: 5px;
    height: 100px;
}
.GlobalHome #countryselector
{
    margin-top: 10px;
}
IMG#worldselbutton
{
    position: relative;
    top: 4px;
    cursor: pointer;
    cursor: hand;
}
IMG#countryselbutton
{
    position: relative;
    top: 4px;
    cursor: pointer;
    cursor: hand;
    width:27px;
    height:20px;
}
.GlobalHome .WorldmapString SELECT
{
    width: 200px;
    margin-right: 5px;
}
/*.GlobalHome #Solutions1, .GlobalHome #Solutions2, .GlobalHome #Solutions3
{
    float: left;
    width: 194px;
    padding: 0 0 0 0;
    margin-right: 15px;
}*/
.GlobalHome .GlobalSolutions3_1, .GlobalHome .GlobalSolutions3_2, .GlobalHome .GlobalSolutions3_3
{
    float: left;
    width: 194px;
    font-size: 1.0em;
    padding: 0 0 0 0;
    margin-right: 15px; border: 0px red solid
}
.GlobalHome .GlobalSolutions4_1, .GlobalHome .GlobalSolutions4_2, .GlobalHome .GlobalSolutions4_3, .GlobalHome .GlobalSolutions4_4
{
    float: left;
    width: 142px;
    font-size: 1.0em;
    padding: 0 0 0 0;
    margin-right: 15px; border: 0px red solid
}
.GlobalHome .CountrySolutions3_1, .GlobalHome .CountrySolutions3_2, .GlobalHome .CountrySolutions3_3
{
    float: left;
    width: 285px;
    padding: 0 0 10 0;
    margin-right: 18px;
}
.GlobalHome .CountrySolutions4_1, .GlobalHome .CountrySolutions4_2, .GlobalHome .CountrySolutions4_3, .GlobalHome .CountrySolutions4_4
{
    float: left;
    width: 210px;
    padding: 0 0 10 0;
    margin-right: 18px;
}
.GlobalHome .Worldmapbottom A, .GlobalHome .Worldmapbottom A:link, .GlobalHome .Worldmapbottom A:visited, .GlobalHome .Worldmapbottom A:active
{
    text-decoration: none;
    color: #666666;
}
.GlobalHome .Worldmapbottom A, .GlobalHome .Worldmapbottom A:hover
{
    text-decoration: underline;
}
#video #maincolumn
{
    float: left;
    width: 405px;
    margin: 0 0 0 0px;
    height: auto;
}
#video #rightColumn
{
    float: left;
    width: 220px;
    margin: 82 0 0 0px;
    height: auto;
    overflow: hidden;
}
#video #rightColumn H1, #video #rightColumn H1 A, #video #rightColumn H1 A:link, #video #rightColumn H1 A:visited, #video #rightColumn H1 A:hover, #video #rightColumn H1 A:active
{
    color: #CE0E48;
    text-decoration: underline;
}
#videoback
{
    margin: 10 0 10 0px;
}
body#DefPopup, body#DefPopup #content, body#DefPopup #content, body#DefPopup #content #mainColumn, body#DefPopup #content #mainColumn #PopupLeader, body#DefPopup #content #mainColumn #PopupLeader p
{
    margin: 0;
    padding: 0;
}
body#DefPopup #content #mainColumn #PopupLeader2
{
    margin: 10;
    padding: 0;
}

/* --// Top Navigation --// */

.TopGroupHome
{
	border-style:none;
	/*
    position: absolute;
	*/
	position:relative;
    top: 21px;   
    background-image:url(/general/navigation/images/mainnav_bg.jpg);
    height:20px;
    width: 930px;
    cursor: pointer;
    cursor: hand;
    padding: 0px;
    margin: 0px 0px 0px 177px;
    
}
.TopGroup
{
    height:20px;
	background-image:url(/general/navigation/images/mainnav_bg.jpg);	
    position: absolute;
    top: 49px;
    float:none;
    cursor: pointer;
    cursor: hand;
    padding: 0px;
    margin: 0px 0px 0px 177px;
}
.TopGroupSub
{
    cursor: pointer;
    cursor: hand;
    background-color: #E3E3E3;
    color: Red;
    border: solid 1px #bebebe;
    padding: 0px;
    margin-top:2px;
}
.TopItem
{
    cursor: hand;
    font-size: 70%;
    color: #424242;
    font-weight: bold;
    background-image: url(/general/navigation/images/ArrowWhiteRight.gif);
    background-repeat: no-repeat;
    background-position: 5px center;
    vertical-align: bottom;
    margin-right:9px;
    padding-left:5px;
    border-left: solid 1px #A6C0BE;
    margin-top:2px;
    margin-bottom:2px;
    height:16px;
}

.TopItemOver
{
    cursor: hand;
    font-size: 70%;
    font-weight: bold;
    background-image: url(/general/navigation/images/ArrowWhiteRight.gif);
    background-repeat: no-repeat;
    background-position: 5px center;
    vertical-align: bottom;
    border-left: solid 1px #A6C0BE;
    margin-top:2px;
    margin-bottom:2px;
    height:16px;  
    margin-right:9px;
    padding-left:5px;
}
.TopItemSub
{
    height:20px;
    cursor: hand;
    color: #424242;
    font-size: 70%;
    line-height: 14px;
    border-bottom: solid 1px #A9A9A9;
    white-space: normal;
	padding: 3 0 3 3px;    
    width:150px;    
    background-color: #E3E3E3;
}
.TopItemSubOver
{
	height:20px;
    cursor: hand;
    color: #424242;
    background-color: #CDCDCD;/*when cursor on item*/
    font-size: 70%;   
    line-height: 14px;
    border-bottom: solid 1px #A9A9A9;
    width: 150px;
    white-space: normal;
	padding: 3 0 3 3px;    
}
.MenuItemToolTip
{
    background-color: #fffacd;
    border: solid 1px black;
    font-family: Arial;
    padding: 3px;
    font-size: 8pt;
    text-align: left;
}
.Separator
{
    cursor: pointer;
    cursor: hand;
    background-color: #999999;
    width: 1px;
}

/* --// Left Navigation --// */

#LeftNav
{
    width: 150px;
    color: #333333;
    margin-bottom: 25px;
}
.leftnavsel, .leftnav0, .leftnav0sel, .leftnav1, .leftnav1sel
{
    background: url(/general/css/secnavroundtop.gif) repeat-x top left;
    margin-top: 2px;
    margin-bottom: 2px;
}
.navbottomimg
{
    background: url(/general/css/SecNavRoundBottom.gif) repeat-x bottom left;
    width: 150px;
    height: auto;
    overflow: hidden;
}
.leftnav2sel, .leftnav2, .leftnav3sel, .leftnav3
{
    background-image: none;
}
.leftnav2sel .navbottomimg, .leftnav2 .navbottomimg, .leftnav3sel .navbottomimg, .leftnav3 .navbottomimg
{
    background-image: none;
}
.img1
{
    float: left;
}
.text1
{
    float: left;
    width: 120px;
    padding: 5 0 5 0px;
    color:white;
}
/* IME 10-08-09 */
.textBlack
{
    float: left;
    width: 120px;
    padding: 5 0 5 0px;
    color:white;
}
#LeftNav .LeftNav3 .text1
{
	color:#757575;
}
/* IME 10-08-09 */
#LeftNav .LeftNav3 .textBlack
{
	color:#757575;
}
#LeftNav .LeftNav3 A:hover .text1
{
	text-decoration:underline;
	color:#757575;
}
#LeftNav .LeftNav2sel A:hover .textBlack
{
	text-decoration:underline;
	color:#757575;
}
.textBlack
{
	color:#757575;
	float:left;
}

.text2
{
    float: left;
    width: 120px;
    padding: 5 0 5 0px;
    color: #FFFFFF;
}
.leftnavsel, .leftnav0sel
{
    background-color: #888888;
}
.leftnav0
{
    background-color: #93B6D1;
}
.leftnav1
{
    background-color: #afafaf;
}
.leftnav1sel
{
    background-color: #d21241;
}
.leftnav2sel, div.leftnav2
{
    background-color: #EEEEEE;
    color:Black;
}
.leftnav3sel, .leftnav3
{
	/* IME 03-07-09  background-color: #EEEEEE;*/
    background-color:#F6F6F6;
    color:#757575;
}

#LeftNav A:link, #LeftNav A:visited
{
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
/* IME 29-07-09
#LeftNav .LeftNav0sel A:hover, #LeftNav .LeftNav1sel A:hover, #LeftNav .LeftNav1 A:hover
{
    text-decoration: underline;
    color:White;
}
*/
#LeftNav .LeftNav0sel A:hover, #LeftNav .LeftNav1sel A:hover, #LeftNav .LeftNavsel A:hover, #LeftNav .LeftNav1 A:hover
{
    text-decoration: underline;
    color:White;
}
#LeftNav .LeftNav2 A:hover, #LeftNav .LeftNav3 A:hover
{
    text-decoration: underline;
    color:#757575;
}
.leftnav3 A:link, .leftnav3 A:visited, .leftnav3 A:hover, .leftnav3 A:active, .leftnav3sel A:link, .leftnav3sel A:visited, .leftnav3sel A:hover, .leftnav3sel A:active
{
    color: #757575;
}
#LeftNav .leftnav3sel, #LeftNav .leftnav3sel A:link, #LeftNav .leftnav3sel A:visited, #LeftNav .leftnav3sel A:hover, #LeftNav .leftnav3sel A:active
{
    text-decoration: underline;
}
.leftnav3sel .text1, .leftnav3 .text1
{
    padding: 2 0 2 0px;
}
/* IME 10-08-09 */
.leftnav3sel .textBlack, .leftnav3 .textBlack
{
    padding: 2 0 2 0px;
}
/* IME 10-08-09 */
.leftnav2sel .text1, .leftnav2 .text1
{
    padding: 3 0 3 0px;
}
.leftnav2sel .textBlack, .leftnav2 .textBlack
{
    padding: 3 0 3 0px;
}

/* --// navigation --// */

/*.PrimNav {
 font-weight: bold;
}
.PrimNav A, .PrimNav A:link, .PrimNav A:visited {
 color: #2C91CA;
 cursor: hand;
}
.PrimNav A:hover, .PrimNav A:active {
 color: #FFFFFF;
 cursor: hand;
}*/


/* --// footer --// */

#footer .siteWide
{
    margin-top: 2.0em;
    margin-bottom: 1.0em;
    float: left;
    font-size: 1em;
    width: 100%
}
#footer .siteWide, #footer .siteWide A, #footer .siteWide A:link, #footer .siteWide A:visited, #footer .siteWide A:hover, #footer .siteWide A:active
{
    color: #777777;
}
#footer .siteWide UL
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    float: right;
    margin: 0px;
/* UK:C1840898 */    
/*    margin-right: -5px; */
    height: 20px;
}
#footer .siteWide LI
{
    padding-right: 4px;
    padding-left: 7px;
    padding-bottom: 0px;
    padding-top: 0px;
    float: right;
    display: inline;
    list-style-type: none;
}
#ftrcopyright
{
    left: 0px;
    position: absolute;
}
#ftrRSS
{
    border-left: solid 0px;
    border-right: solid 1px #777777;
}
#ftrSitemap
{
    border-left: solid 0px;
}
#ftrAddtofavourites
{
    border-left: solid 1px #777777;
}
#ftrMaillink
{
    border-left: solid 1px #777777;
}
#ftrTermuse
{
    border-left: solid 1px #777777;
}
#ftrPrivacy
{
    border-left: solid 1px #777777;
}
#ftrImpressum
{
    border-left: solid 1px #777777;
}


.cmsconsole
{
    border: solid 2px green;
    z-index: 99;
    font-size: 13px;
    font-family: arial;
}
.cmsconsolepos
{
    position: absolute;
    background-color: white;
    z-index: 50;
    top: 80px;
    left: 800px;
}
.cmsconsolesubpos
{
    position: absolute;
    background-color: white;
    z-index: 50;
}
.cmsconsolemessagewait
{
    position: absolute;
    top: 15px;
    left: 400px;
    background-color: white;
    z-index: 50;
}
.MessageWindow
{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    background-color: Red;
    padding: 12px;
    color: White;
    z-index:99
}
/* Connexys */
/*
A.brightRed11, A:link.brightRed11 , A:visited.brightRed11 , A:active.brightRed11   { color: #FF0000;font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: none;}
A.brightRed11 hover {text-decoration: underline; color: #FF0000}
*/
.smalltext
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
}
.smalltext a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #003399;
    text-decoration: none;
}
.smalltext a:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #003399;
    text-decoration: underline;
}

.brightRed11 A, .brightRed11 A:link, .brightRed11 A:visited, .brightRed11 A:active
{
    text-decoration: none;
    color: #CC0000;
}
.brightRed11 A:hover
{
    text-decoration: underline;
}

/* --// Login Screen --// */
#lblLoginEmail, #lblRegistrationFirstName, #lblRegistrationLastName, #lblRegistrationEmail, #lblRegistrationCountry, #lblRegistrationCompany, #lblRegistrationJobTitle, #lblRegistrationPassword, #lblRegistrationPassword2, #lblPasswordOldHeader, #lblPasswordNewHeader, #lblPasswordRetypeNewHeader {
	float: left;
	width: 144px;
	height: 18px;
	position: relative;
	top: 1px;
}
#lblLoginPassword {
	float: left;
	width: 150px;
	height: 18px;
	position: relative;
	top: 1px;
	margin-top: 1.2em;
}
#btnLogin {
	margin-top: 1.5em;
	margin-bottom: 0.8em;		
}
#cbRegistrationUseHTMLEmail {
	margin-top: 1em;
	margin-bottom: 1em;
}
#pnlErrorLogin, #lblRegistrationFirstNameError, #lblRegistrationLastNameError, #lblRegistrationEmailError, #lblRegistrationCountryError, #lblRegistrationCompanyError, #lblRegistrationJobTitleError, #lblRegistrationPasswordError, #lblRegistrationPassword2Error, #lblOldPasswordError, #lblNewPasswordError, #lblRetypeNewPasswordError {
	color: #FF0000;
	font-weight: bold;
	width: auto;
    height: auto;
    overflow: hidden;
	margin-left: 1.2em;
}
#pnlRegistrationPasswordError, #pnlRegistrationPasswordError2, #pnlErrorLogin2, #pnlNewPasswordError2, #lblLoginEmailError, #lblLoginPasswordError {
	color: #FF0000;
	font-weight: bold;
	font-size: 1em;
	width: auto;
    height: auto;
    overflow: auto;
}
#ServerMessage {
		color: #FF0000;
	font-weight: bold;
	font-size: 1em;
	width: auto;
    height: auto;
    overflow: auto;
    margin-bottom: 1em;
}
#lblRegistrationTermsAndConditionsError {
	color: #FF0000;
	font-weight: bold;
	font-size: 11px;
}
#DefCont INPUT {
	vertical-align: middle;
	margin-right: 5px;
	font-size: 1.0em;
	font-family: Arial;
}
INPUT#txtRegistrationCompany, INPUT#txtRegistrationFirstName, INPUT#txtRegistrationLastName, INPUT#txtRegistrationEmail, INPUT#txtRegistrationJobTitle, INPUT#txtRegistrationPassword, INPUT#txtRegistrationPassword2 {
	width: 200px;
	margin-right: 10px;
}
INPUT#txtLoginEmail, INPUT#txtLoginPassword {
	width: 190px;
	margin-right: 10px;
}
#lblErrorMessage {
	color: FF0000;
	font-weight: bold
}
.lblRegistrationRow {
	width: auto;
	height: auto;
	overflow: visible;
	margin-bottom: 3px;
	border: solid 1px white;
}
.lblRegistrationRow1 {
	width: auto;
	height: 25px;
	margin-top: 1.5em;
	margin-bottom: 1.0em;
	border: solid 1px white;
}
.GeneralError
{
	color: #ff0000;
	float: none;
}
#imgrequired {
	float: left;
	position: relative;
	top: 4px;
	margin-right: 0.5em;
	margin-bottom: 30px;
	border: solid red 0px;
}
#lblRegistrationMandatoryMessage {
	float: left;
	width: auto;
	border: solid blue 0px
}
SELECT#ddCountry {
 	width: 200px;
 	margin-right: 10px;
}
#cbMain {
 	width: 100%;
 	height: auto;
 	overflow: hidden;
}
#cbCompanyEmail {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}
#lblRegistrationTermsAndConditionsMessage {
	position: relative;
	left: 4px;
}
#btnRegister {
	margin-top: 1.8em;
}
#RegisterInfoPane {
	float: right;
	width: 230px;
	border: solid #333333 1px;
	padding: 5px 5px 5px 5px;
	background: #EEEEEE;
}
#SigninPane {
	float: left;
	width: 320px;
	border: solid blue 0px;
}
.lblLoginLeft {
	width: 100px;
	border: solid 1px red;
}
#pnlProfile {
    width: 575px;
    height: auto;
}
#lblNameHeader {
	margin-bottom: 1.5em;
}
.PremiumContent {
	width: 100%;
	height: auto;
	overflow: hidden;
	vertical-align: middle;
}
a.PremiumContent img, a:link.PremiumContent img, a:visited.PremiumContent img, a:hover.PremiumContent img, a:active.PremiumContent img {
	vertical-align: middle;
}
a:link.pressReleaseGlobalLinks
{
	text-decoration: none;
}
#strPlaceHolderFeatureRightBottom
{
	line-height: 15px;
	height: 15px;
    vertical-align: top;
    width:187px;
}
.TopHeaderLeft
{
	
	float:left;
	vertical-align:middle;
	width:500px;
	padding-left:0px;	
	
}
.TopHeaderRight
{
	float:right;
	TOP: 0px;
	width:115px;
}
.GoNewButton
{
	padding-right:0px;
	margin-left:5px;
	float:left;
	height:20px;	
	position:relative;
}
.GoNewButtonSearch
{
	/*margin-left:5px;*/
	/*margin-top:0px;*/
	height:20px;
	float:left;
	position:relative;
	/*top:-10px;*/
}
.hdrAccessibility
{
	padding-right:3px;
	margin-right: 3px;
    height: 12px;
    float:left;
}
.hdrRegisterSignIn
{
    position:relative;
    top:-1px;
}
.testDiv
{
	background-color:Pink;
	height:500px;
}
.PrimaryNavBar
{
	border-bottom-style:solid;
    border-bottom-color:#a8a8a8;
    border-bottom-width:1px;
	background-image:url(/general/navigation/images/mainnav_bg.jpg);
	width:930px;
	height:21px;
	vertical-align:bottom;
}
.GlobalHome .RedBanner
{
	position:relative;
	height:73px;
	overflow:hidden;
	padding-top:1px;
}
.RedBanner
{
	position:relative;
	height:72px;
	overflow:hidden;
	padding-top:1px;
}

.PressReleaseContentTitle
{
	padding-top: 7px;
}
a:link.pressReleaseGlobalLinks
{
	text-decoration: none;
	
}
a:visited.pressReleaseGlobalLinks
{
	text-decoration: none;
	
}
a:hover.pressReleaseGlobalLinks
{
	text-decoration: underline;
	
}
#ContentLeader
{
	padding-left:1px;
}
#worldselbutton 
{
    height:20px;
    width:27px;
}
/* IME 13-08-09 */
#MyFlash
{
	border:solid 1px #757575;	
	margin-left:-1px;
	overflow:hidden;
}
/* IME 13-08-09 */
#AtosOriginVideo
{
	width:100%;
}
#content #FinCalTxt H1
{
     font-size: 1.09em;
    font-weight: bold;
    color: #666666;
    margin: 0.4em 0px 0.2em 0px;    
}
#LandingLeaderFilteringContent
{
	display:none;
}
#StrPlaceholderControl2
{
	width:574px;
}

.table_type_01 a,
.table_type_02 a,
.table_type_03 a,
.table_type_04 a{
	color: #15548a;
}
/****************************************/
/*              [TABLE 01]              */
/****************************************/
.table_type_01{
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #757577;
}
.table_type_01 caption{
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	color: #d21241;
	}
	
.table_type_01 th{
	padding: 0 10px 0 5px;
	height: 44px;
	border: 1px solid #dfdfdf;
	background-color: #e3e9ed;
	background-image: url(/general/images/tablebg.jpg);
	background-repeat: repeat-x;
	text-align: right;
}

.table_type_01 tr.header2 th{
	height: 20px;
	padding: 4px 10px 4px 5px;
	border: 1px solid #dfdfdf;
	background-color: #e3e9ed;
	background-image: url(/general/images/tablebg_small.jpg);
	background-repeat: repeat-x;
	text-align: right;
}
.table_type_01 td{
	padding: 4px 10px 4px 5px;
	text-align: right;
	}
.table_type_01 .t_head_1,
.table_type_01 tr.header2 th.t_head_1{
	text-align: left;
	padding-left: 25px;
}

.space td{
	padding:0;
	}

/****************************************/
/*              [TABLE 02]              */
/****************************************/

.table_type_02{
	width: 100%;
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #757577;
}
.table_type_02 caption{
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	color: #d21241;
	}
.table_type_02 th{
	padding: 0 10px 0 5px;
	height: 44px;
	border-left: 1px solid #dfdfdf;
	background-color: #e3e9ed;
	background-image: url(/general/images/tablebg.jpg);
	background-repeat: repeat-x;
	text-align: right;
	width: 60px;
}
.table_type_02 .t_head_1{
	text-align: left;
	width: 131px;
	padding-left: 25px;
}
.table_type_02 td{
	border-left: 1px solid #dfdfdf;
	padding: 4px 10px 4px 0;
	text-align: right;
}
.table_type_02 tr.alt{
	background-color: #F3F3F3;
}
.table_type_02 tr.total{
	font-weight: bold;
}
/****************************************/
/*              [TABLE 03]              */
/****************************************/
.table_type_03{
	width: 100%;
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #757577;
}
.table_type_03 caption{
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	color: #d21241;
	}
.table_type_03 th{
	padding: 0 5px 0 5px;
	height: 44px;
	border-left: 1px solid #dfdfdf;
	background-color: #e3e9ed;
	background-image: url(/general/images/tablebg.jpg);
	background-repeat: repeat-x;
}

.table_type_03 .t_head_1{
	text-align: left;
	width: 131px;
	padding-left: 25px;
}

.table_type_03 tr.alt{
	background-color: #F3F3F3;
}

.table_type_03 td{
	padding: 10px 10px 10px 0;
	text-align: right;
	}
	
	
/****************************************/
/*              [TABLE 04]              */
/****************************************/


.table_type_04{
	width: 100%;
	border: 1px solid #dfdfdf;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #757577;
	padding: 0;
}
.table_type_04 caption{
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	color: #d21241;
	}
.table_type_04 td{
	padding: 10px;
	text-align: center;
	width: 33%;
	}
.table_type_04 tr.alt{
	background-color: #F3F3F3;
}
.table_type_04 td.alt{
	background-color: #F3F3F3;
	border: 1px solid #dfdfdf;
	border-width: 0 1px 0 1px;
}
.table_type_04 tr.alt td.alt{
	background-color: #e3e3e3;
}
.table_type_04 .t_head_1{
	text-align: left;
	font-weight: bold;
	padding-left: 25px;
}


@CHARSET "UTF-8";